body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  overflow: hidden;
}



.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 5px solid white;
  flex-direction: column;
}

h1{
    font-size: 70px;
    border: 5px dotted white;
    color: black;
    padding: 8px;
}

.corazon{
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}