@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

body{
  background-color: black;
}

html{
  scroll-behavior: smooth;
}

/* #### TEST #### */
.logo__name{
  color: #f3f3f3;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.sector{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #f3f3f3;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;

}

/* #### NAVBAR #### */
.header{
  width: 100%;
  padding: 10px 100px;
  z-index: 1000;
}

.header__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  max-width: 12000px;
  padding: 0 30px;
  margin: 0 auto;
}

.logo{

}

.logo__img{
  height: 10px;
  display: block;
}

.nav{

}

.nav__list{
  display: flex;
  column-gap: 40px;
}

.nav__item{
  display: flex;
  align-items: center;
}

.nav__link{
  color: #f3f3f3;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  padding-left: 10px;
}

.btn{
  color: white;
  border: solid 3px #13161a;
  border-radius: 25px;
  padding: 8px 16px;
  transition: ease 0.3s;
}

.btn:hover{
  color: #3a4652;
  background-color: #13161a;
}

.nav__item .icon{
  display: inline-block;
  transition: transform 0.5s ease;
}

.nav__item:hover .icon{
  transform: rotate(180deg);
}

/* #### ABOUT #### */
.about__container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  border: rgba(100, 100, 100, 0.5) solid 2px;
}

.about__item{
  flex: 1;
  text-align: center;
  padding: 1rem;
  border: rgba(100, 100, 100, 0.5) solid 1px;
}

@media (max-width: 650px) {
  .about__container{
    flex-direction: column;
  }

  .about__item{
    height: 100vh;
  }
}

.translucent__item{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #f3f3f3;
  background-color: black;
  transition: 0.5s ease-in-out;
    &:hover{
    background-color: transparent;
  }
}

.solid__item{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: black;
  background-color: #f3f3f3;
}

@media (max-width: 650px) {
  .header__content{
    flex-direction: column;
    padding: 25px 0;
    row-gap: 18px;
    align-items: center;
  }

  .nav__list{
    column-gap: 20px;
  }
}

.background-animated {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), #3a48c1, #dd3dbe, #ff7a5c, #000000);
  background-size: 400% 400%;
  animation: bgmove 10s ease-in-out infinite;
  filter: blur(100px);
  opacity: 0.7;
  pointer-events: none;
  transform: scale(0.9);
  transform-origin: center;
}
@keyframes bgmove {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}