.base-negro{
    background-color: rgb(15, 14, 12);
}

.contenedor {
    display: grid;
    place-items: center; /* Centra horizontal y verticalmente */
    height: 100vh;
  }
  
  .centrado {
    width: 200px;
    height: 100px;
    background-color: white;
  }

  .centrado2 {
    width: 200px;
    height: 100px;
    background-color: rgb(149, 2, 241);
  }